.env
.env.local
*.pyc
.idea/
*.DS_Store
__pycache__/
*.mako
/alembic/script.py.mako
*.html
.sonar/
refactored_architecture/google_ms/results/*.json
refactored_architecture/retailben/results/*.json
refactored_architecture/dsb_social/results/*.json

